body {
	background-color: #F8F9FA;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

nav {
	margin: 20px auto;
	margin-bottom: 40px;
	box-shadow: 0 4px 12px rgba(0, 123, 255, 0.312);
	border-radius: 8px;
	padding: 15px;
	width: 90%;
	display: flex;
	justify-content:space-between;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	gap: 20px;
}

main {
	margin:0 auto;
	margin-bottom: 30px;
	width: 90%;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 123, 255, 0.312);
	padding: 15px;
	flex-grow: 1;
}

.imagen-main {
	width: 100%;
}
footer {
	display: flex;
	padding: 30px;
	margin: 0 auto;
	gap: 20px;
	background-color: white;
	width: 90%;
	box-shadow: 0 4px 12px rgba(0, 123, 255, 0.312);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	justify-content: space-evenly;
	flex-flow: row wrap;
	max-width: 100%;
}

footer h2 {
	border-bottom: 3px solid #007BFF;
	margin: 10px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

footer form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

footer form input {
	padding: 5px;
	border-radius: 8px;
	border: #007BFF solid 1px;
}

footer textarea {
	border:solid 1px #007BFF;
	resize: none;
}

footer ul li {
	list-style: none;
	text-decoration: none;
	text-align: center;
	margin-bottom: 40px;
}

footer ul {
	display: flex;
	flex-direction: column;
}

footer div {
	display: flex;
	gap: 20px;
	justify-content: space-evenly;
}

footer div img {
	width: 30px;
}