body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 20px;
}

.container {
	background-color: grey;
	padding: 30px;
	border-radius: 8px;
}

label {
	line-height: 2;
}

input {
	display:block;
}