body {
	height: 100vh;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	gap: 20px;
}

div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(236, 196, 236);
	height: 200px;
	width: 300px;
	padding: 0px;
	margin: 0px;
}

div:last-child {
	height: auto;
	display: none;
	text-align: center;
}